<div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Retning 1</a>
          <ng-template ngbNavContent>
              <td-skjema></td-skjema>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Retning 2</a>
          <ng-template ngbNavContent>
            <td-skjema></td-skjema>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Retning 3</a>
          <ng-template ngbNavContent>
            <td-skjema></td-skjema>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <pre>Active: {{ active }}</pre>

      <label>Hvordan føler du deg?</label>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">1</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">2</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">3</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline4">4</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline5">5</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</div>