<ngb-accordion [closeOthers]="true" activeIds="static-1">

    <ngb-panel id="static-1" title="2020-04-13">
      <ng-template ngbPanelContent>
        <td-historikk-detaljer></td-historikk-detaljer>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2" title="2020-04-12">
        <ng-template ngbPanelContent>
          <td-historikk-detaljer></td-historikk-detaljer>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-3" title="2020-04-11">
        <ng-template ngbPanelContent>
          <td-historikk-detaljer></td-historikk-detaljer>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>