<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills shadow-sm p-3 mb-5 bg-white rounded" orientation="horizontal">
  <li ngbNavItem="1">
    <a ngbNavLink class="nav-link " [routerLink]="['/dagens-skjema']">Dagens Skjema</a>
  </li>
  <li ngbNavItem="2">
    <a ngbNavLink class="nav-link" [routerLink]="['/min-side']">Min Side</a>
  </li>
  <li ngbNavItem="3" *ngIf="auth.user | async as user; else showLogin">
    <a ngbNavLink class="nav-link" [routerLink]="['/min-side']">Min Side</a>
  </li>
  <li>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="login()">Login with Google</button>
    </ng-template>
  </li>
</ul>


 <div class="container">
   <router-outlet></router-outlet>
 </div>