<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum rerum distinctio quia iure. Earum, consectetur quae aliquam unde, quam vitae natus ex adipisci, architecto ab ad eum in perferendis laudantium!</p>
<ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>